[2018-04-23 15:33] nratter opened #2 "Unexpected token error when submitting form."
I'm getting an error `Uncaught SyntaxError: Unexpected token <` when submitting the form using this plugin with Chrome.

I guess this is related to the html that's getting returned upon submit? `<!DOCTYPE html>`.

Any ideas?

[2018-04-23 16:13] nratter commented on #2
Upon further investigation this is because an error was returned (as HTML) when submitting the form and the plugin doesn't know how to handle it.

You can replicate this by using test@example.com as an email address. The return HTML contains the following div:

```<div class="feedback error"><br><div class="errorText">This email address looks fake or invalid. Please enter a real email address.</di

[2018-04-23 16:31] nratter commented on #2
I think I've figured this out. The new version is using post-json instead of just post, but the documentation doesn't reflect that. When users copy the endpoint from Mailchimp, they should replace `/post?` in the url with `/post-json?` (or maybe the plugin should do this automatically?).

[2018-04-25 16:23] nratter opened #4 "Submitting to multiple MC endpoints"
Hey guys,

I'm building a Gatsby site that needs to use 2 MailChimp endpoints (2 different lists). I suspect this may be somewhat common, and the way the current configuration is leaves this plugin a bit inflexible. It might be better to pass the endpoint as a parameter to `addToMailChimp` as opposed to defining it in the config file. Thoughts?

[2018-04-29 16:13] benjaminhoffman commented on #2
correct.  not sure what i was thinking.  my apologies on the delay!

solved. https://github.com/benjaminhoffman/gatsby-plugin-mailchimp/pull/3

[2018-04-29 16:13] #2 closed

[2018-04-29 16:15] benjaminhoffman commented on #4
I prefer to leave it in the config bc then what if you have multiple components that want to submit to MC, then you have to defined the endpoint in each component.  That gets a bit messy.

Although, I am open to the idea of submitting to multiple MC endpoints.  Not sure how you would handle the success/error state... what if one fails but the others pass?  Also, would you have a default endpoint +

[2018-05-02 22:56] austriker27 opened #5 "The MailChimp API responds with html doc not JSON"
Hi,

When I follow the instructions in the readme and use a matching URL from my MC account as the endpoint the response I get back from API is an html document.

It should be JSON I think. I compared my code against GatsbyJS's newsletter form signup and it seems similar. Not sure if theres a bug in this project or if I havent changed something correctly but I followed the README pretty closely.

[2018-05-02 23:10] austriker27 commented on #5
Wait a second, I think this is a duplicate bug from #2. Investigating.

[2018-05-15 16:56] martynhoyer opened #6 "Email validation?"
Firstly, thanks for this plugin - super simple and perfect for what I need.

I was just wondering what the status is with email validation? If I submit the form with some malformed text, I get the error in the console:

`Uncaught gatsy-plugin-mailchimp: email must be of type string and a valid email address. See README for more information.`

Which suggests something is validating the email addres

[2018-05-22 07:24] tyhopp opened #7 "Importing addToMailchimp throws error with fs dependency not found"
Upon `import addToMailchimp from 'gatsby-plugin-mailchimp'` returns error:

[code]

May be related to [#2107](https://github.com/gatsbyjs/gatsby/issues/2107), but I can't seem to find the solution. Could it be related to [the way data is imported](https://github.com/benjaminhoffman/gatsby-plugin-mailchimp/blob/4121e279b3645f14702b45afffb50bd9fbb53008/src/index.js#L1) from `gatsby-config.js`?

[2018-05-29 05:22] #4 closed, assigned to nobody

[2018-05-29 05:34] benjaminhoffman commented on #6
good eye!

https://github.com/benjaminhoffman/gatsby-plugin-mailchimp/blob/master/src/index.js#L62

but now i realize I need to update this.  i shouldnt be throwing an error.  instead, i should match the mailchimp API and return an object like this:
[code]

this way, front end eng's like you can simply key off the `status` key and bubble up the error to the client.

@martynhoyer interested in open

[2018-05-31 13:17] tyhopp commented on #7
Hi @benjaminhoffman, thanks for your reply - no worries!

Wish it was os and I could share, but unfortunately it's a client project under NDA. I can share some code snippets though, maybe helpful?

[code]

[code]

Please let me know if anything else would be helpful - looking forward to working this out!

Thanks again 🎉

[2018-06-08 11:53] #7 closed

[2018-06-08 11:54] tyhopp commented on #7
Ran out of time to try and debug this, closed.

[2018-06-09 03:39] halkeye opened #9 "Leaks your entire gatsby-config into your builds"
Looking at the code, specifically getPluginOptions, it imports the entire gastby-config, anything sensitive that might be in there, and loads it into your webpack bundles.

I'm thinking this might need a gatsby-ssr.js to set the mailchimp specific configs somewhere public so you don't need the entire config object.

[2018-06-10 04:32] #6 closed

[2018-06-21 11:17] b0gd4n opened #13 "Handle multiple mailing lists"
Hey,

I am building a site that needs to handle submissions to different mailing lists from different pages. E.g. there is 1 main mailing list present in the footer of the website and on a page such as `events` we need to capture submissions to a different mailing list.

I saw another simillar issue opened, but there was no solution offered.

[2018-06-23 12:51] mikelax opened #14 "Compile error if you use dotenv in gatsby-config file"
Overview
===
After I install this plugin, and import the `addToMailchimp` function into a component, the site will fail to compile.

Reproduction Steps
---

-  Install this plugin
- Import `import addToMailchimp from 'gatsby-plugin-mailchimp';` into a component

*IF* your `gatsby-config.js` file imports dotenv because you are using [environment variables](https://www.gatsbyjs.org/docs/environment-

[2018-06-23 12:52] mikelax commented on #14
I believe this may be related to #9  (and fixed) once PR #10 is merged.

[2018-06-23 14:06] mikelax opened #15 "Plugin fails if Enable reCAPTCHA is enabled"
Overview
===
If you have a mailing list with the setting for [Enable reCAPTCHA](https://mailchimp.com/help/about-recaptcha-for-signup-forms/#Enable-reCAPTCHA/) turned on, publishing to the list will fail with the error message:  `captcha`.

To get things working I turned off this setting, but it would be nice to have an option for having this feature enabled. I am not exactly sure of the best cour

[2018-07-19 16:59] steebchen commented on #13
@benjaminhoffman I really need this feature. Please ping me if you would like me to create & open a PR for this functionality, I'd be happy to implement it. I would suggest adding an optional, third parameter to set the URL (or owerwrite the URL specified in the config), but feel free to suggest another approach.

[2018-07-19 17:32] steebchen opened #17 "Doesn't work when using privacy plugins"
The jsonp request simply times out when you have privacy plugins like Disconnect or Ghostery installed. It also happens when you use the privacy mode in Firefox Quantum. The error does get caught, but jsonp's default timeout is 60s. Do you think we could this set to maybe, let's say, 5 or 10 seconds, using jsonp's timeout option? I don't think there's too much value waiting for a request if it did

[2018-07-19 17:52] steebchen opened #18 "Unhandled exception on invalid email"
Try submitting an email which looks like this: `test@test`. An unhandled exception will be thrown. The stracktrace doesn't say anything, but I assume it's because the error is thrown, instead I think the function should return a promise by default and reject it if the email is invalid. Would be glad to send a PR.

[2018-07-19 18:30] benjaminhoffman commented on #18
looking into this.

[2018-07-19 18:31] benjaminhoffman commented on #17
looking into this.

[2018-07-19 18:31] benjaminhoffman commented on #15
looking into this.

[2018-07-19 18:31] benjaminhoffman commented on #14
looking into this.

[2018-07-19 18:31] benjaminhoffman commented on #13
looking into this.

[2018-07-19 18:34] benjaminhoffman commented on #9
looking into this.

[2018-07-19 19:31] steebchen commented on #13
I can create a PR if you are okay with the third parameter suggestion from me (or another approach if you find a better one). I'd then remove the no-config error and instead throw an error if neither a config endpoint nor an on-demand endpoint is provided, although that of course only fails on runtime. If no endpoint is provided when calling the default function, the config-endpoint is used.

[2018-07-20 03:11] benjaminhoffman commented on #18
we return an object: https://github.com/benjaminhoffman/gatsby-plugin-mailchimp/blob/master/src/index.js#L58

weird it's coming out as an exception.  we could change this line: https://github.com/benjaminhoffman/gatsby-plugin-mailchimp/blob/master/src/index.js#L62-L65

to this:
[code]

thoughts?

that still doesn't explain why it's throwing a UE.

[2018-07-20 03:16] benjaminhoffman commented on #17
interesting.  we can do that.  but the bigger question is, how to make it work with privacy plugins?  there's no reason it shouldn't.

anyway, would something like this work?

for this line: https://github.com/benjaminhoffman/gatsby-plugin-mailchimp/blob/master/src/index.js#L14

could be this: `return jsonp(url, { param: 'c', timeout: 60000 }, (err, data) => {`

thoughts?  want to open a PR?

[2018-07-20 03:18] benjaminhoffman commented on #15
Thanks for pointing this out @mikelax

I don't know if the Mailchimp API allows it.  I can look into this.

In the meantime, got a moment to open a PR updating the README?  I can merge this week.

[2018-07-20 03:18] benjaminhoffman commented on #18
@steebchen ^^

[2018-07-20 11:58] steebchen commented on #18
Ah, I just realized why this happens. The build file is outdated:

![capture](https://user-images.githubusercontent.com/5013932/43000698-de0e6cfe-8c22-11e8-9f79-92c169895ed6.PNG)

That would explain why it throws.

Now we still need to return a promise, though, because we can't use .then otherwise. However, I suggest to use Promise.resolve, because we can then use .catch for network errors when so

[2018-07-20 12:34] steebchen commented on #17
Well your line of code simply wouldn't change anything - jsonp uses 60000 as timeout by default. I'd suggest to lower this value to 5000 or 10000.

What mailchimp does by default is setting the "action" attribute on the form so it simply fallbacks to POSTing to a new tab where you can confirm your subscription. However, I'm not sure how to do this here because we don't know whether the request wil

[2018-07-20 13:13] steebchen commented on #13
Nevermind. I am fairly new to mailchimp and I just realized you shouldn't create multiple list and put everything into a master list and segment it instead (at least for my use-case), so I won't need this feature. Unless the OP or someone else really needs it I won't create a PR.

[2018-07-20 22:18] benjaminhoffman commented on #18
this sounds like a good strategy.  question, do you recommend `status` over `result`?

[2018-07-20 22:22] steebchen commented on #18
Personally, I'd prefer `status`, but I suggest we stick to `result` to be consistent with mailchimp's responses.

[2018-07-27 06:36] ytwguru commented on #7
Add this to your gatsby-node.js file

[code]

[2018-07-27 06:40] ytwguru commented on #14
Add this to your gatsby-node.js file

[code]

[2018-07-31 23:53] jameygleason commented on #14
That fixes the error. What is the underlying issue I wonder?

[2018-08-09 00:57] josecalles commented on #14
Seeing this issue as well. Tried the snippet that @ytwguru shared above, but that didn't do the trick for me. Will update if I find another fix.

[2018-08-20 01:31] #9 closed

[2018-08-20 01:34] benjaminhoffman commented on #14
https://github.com/benjaminhoffman/gatsby-plugin-mailchimp/pull/10 is merged, which I am hoping takes care of this issue.  i'm going to deploy a new version of this plugin so please upgrade to ensure this fix works!  thank you.  🙏

closing issue for now.  please re-open if it's still not working.  thx

[2018-08-20 01:34] #14 closed

[2018-08-20 01:45] benjaminhoffman commented on #15
not sure if there is any way around this.  open to suggestions.

[2018-08-20 01:46] benjaminhoffman commented on #17
hmm.  so not much in terms of finding a workable solution?  i think the next best answer is to leave a comment in the README.  any ideas on this one?

[2018-08-21 09:55] amscher opened #21 "The plugin "gatsby-plugin-mailchimp@3.0.0" is exporting a variable named "modifyWebpackConfig" which isn't an API."
I'm getting the following error when I build my gatsby project... I'm using Gatsby v2, and I'm wondering if that's the issue.

Your plugins must export known APIs from their gatsby-node.js.
[1] The following exports aren't APIs. Perhaps you made a typo or your plugin is outdated?
[1]
[1] See https://www.gatsbyjs.org/docs/node-apis/ for the list of Gatsby Node APIs
[1]
[1] - The plugin "gatsby-plug

[2018-08-21 17:40] steebchen commented on #17
No, but as I said I would just use a timeout of around 5 seconds. An error message is better than a 60s timeout where the user bounces because he doesn't know what's happening. The error message could include that adblockers or privacy plugins should be disabled.

[2018-09-01 05:08] kylegalbraith commented on #21
I am seeing this as well. It looks like maybe this plugin isn't going to make the jump to V2?

[2018-09-01 18:42] benjaminhoffman commented on #21
@kylegalbraith @amscher `gatsby-plugin-mailchimp` is definitely going to make the jump! the question is just a matter of when.  ill see what i can hack on today and hopefully get something working within the week.

if either of you, or anyone reading this, has additional context, please paste it into this thread.  much appreciated.

[2018-09-02 19:31] benjaminhoffman commented on #21
i think this is the fix!  https://github.com/benjaminhoffman/gatsby-plugin-mailchimp/tree/gatsby-v2

Here are the steps:

in your `package.json`, replace this:
[code]
with this:
[code]

Once Gatsby releases v2 as official, I'll merge this v2 branch into master and bump for plugin v4.0.0.

I created a examples of both v1 and v2 to show how it works. https://github.com/benjaminhoffman/gatsby-plugin-

[2018-09-03 17:12] ziyafenn opened #22 "Will this work with mailchimp pop-up form?"
Hello there!

I want to use MailChimp pop-up form and was curious if i can do that with this plugin?

If yes, is there any specifics i need to know?

Thanks!

[2018-09-03 20:28] benjaminhoffman commented on #22
i think it should work fine. it's a gatsby pop up or mailchimp pop up?  if the latter then why do you even need this plugin?

you're using gatsby v1 or v2?  if the latter, please read the README

[2018-09-03 22:11] ziyafenn commented on #22
@benjaminhoffman it's mailchimp pop-up. Don't know man, can't get it working :(

[2018-09-03 22:14] benjaminhoffman commented on #22
do you have code you can share?  either the repo or paste some stuff here.

if its a mailchimp popup, i am not sure you even need this plugin since you can simply subscribe the email using the popup.

which version of gatsby are you using?

[2018-09-03 22:40] ziyafenn commented on #22
@benjaminhoffman i just need to embed this part into my page and call it with `onClick`

[code]

and this part of the script goes inside Helmet
```<script type="text/javascript" src="//downloads.mailchimp.com/js/signup-forms/popup/embed.js" data-dojo-config="usePlainJson: true, isDebug: false"></script>```

I get the error `Cannot resolve module 'mojo/signup-forms/Loader` and i tend to think that

[2018-09-03 23:02] ziyafenn commented on #22
Ok @benjaminhoffman , i tried to use your plugin, but it seems to be also not that easy! As you already understand i'm not really good with JS.

Have no idea how to set data in state and send it back to mailchimp etc...

Is there is no easy way just to embed their forms as they give on the website? :(

[2018-09-03 23:50] benjaminhoffman commented on #17
https://github.com/benjaminhoffman/gatsby-plugin-mailchimp/commit/8fffe3af75203f4de246a9292a938d69bba4bb73

thx again @steebchen for the issue and suggested fix!

[2018-09-03 23:50] #17 closed

[2018-09-17 16:39] benjaminhoffman commented on #21
closing this.  if the above solution doesn't work for you, please feel free to re-open, leave a comment, or create a new issue.  thanks again for bringing this to my attention!

[2018-09-17 16:39] #21 closed

[2018-09-19 12:27] smakosh opened #23 "The plugin is exporting a variable named "modifyWebpackConfig" which isn't an API."
when building my gatsby website after migrating to v2, I'm getting this error:
[code]

[2018-09-19 13:18] smakosh commented on #23
My bad there is a branch that supports v2

[2018-09-19 13:18] #23 closed

[2018-09-23 16:42] mikelax opened #25 "chore: Merge v2 branch into master and update README"
Overview
===
Gatsby now has [officially released version 2](https://www.gatsbyjs.org/blog/2018-09-17-gatsby-v2/). 🎉
This library should now support version 2 by default, so the separate v2 branch can be merged to master.

As part of this PR, the README should also be updated to reflect the new behavior.
Optional: maybe add a `peerDependencies` attribute to package.json

[2018-09-26 21:40] dvzrd opened #26 "missing fs and net dependencies"
I'm getting an error that I'm missing fs and net node dependenices whenever I import addToMailchimp.

I get the same issue trying to import jsonp package so I'm guessing it's tied to that. I tried adding net and fs packages by installing them to package.json but the error for fs doesn't go away. From what I understand, fs is a core package that doesn't need to be added as a dependency but for some

[2018-10-01 22:57] amilajack opened #27 "Gatsby released v2"
[The readme](https://github.com/benjaminhoffman/gatsby-plugin-mailchimp#using-gatsby-v2) should be updated to reflect that, is that correct?

[2018-10-01 23:45] benjaminhoffman commented on #27
correct.  ive been lagging. will do it within a week.  closing this issue in favor of https://github.com/benjaminhoffman/gatsby-plugin-mailchimp/issues/25

[2018-10-01 23:45] #27 closed

[2018-10-01 23:45] benjaminhoffman commented on #26
are you using gatsby v2?  would this solve your issue: https://github.com/benjaminhoffman/gatsby-plugin-mailchimp#using-gatsby-v2

[2018-10-03 11:37] rozenmd commented on #26
Just confirming I am experiencing the same issue with:
[code]
in my package.json, and following the instructions in the link above.

[2018-10-03 12:16] benjaminhoffman commented on #26
crap. that’s no good. i will lookinto this asap. sorry folks!

[2018-10-12 20:11] dvzrd commented on #26
@rozenmd - thanks, that did it for me.

[code]

[2018-10-12 20:11] #26 closed

[2018-10-21 12:45] abumalick commented on #25
@benjaminhoffman Don't forget your update 🌮

[2018-10-27 08:30] fantapop commented on #15
I fell into this issue as well.  I think I have a work around which could potentially be integrated into the plugin.  If I receive "captcha" back as the error, I manually build the URL for the popup window that is triggered in the normal mailchimp embedded form case.  I can then open that popup and successfully fulfill the captcha and sign up the user.  It's not a great user experience since they

[2018-10-27 18:37] benjaminhoffman commented on #25
of course!  I'm moving apartments over the next week or so.  Once the dust settles I will be doing a thorough refresh of this plugin. Apologies for the delay!

[2018-11-29 01:14] dvzrd opened #28 "Strange syntax error (related to jsonp)"
So I'm getting a very strange syntax error whenever I try to use the `addToMailchimp` function in my code. Same error comes up when I tried use `jsonp` to submit the form so these might be related.

Here's the error: `Uncaught SyntaxError: Unexpected token .` it's very vague, so it'll probably help if I share my component's code. I'm using Formik as a dependency so that might also be part of the p

[2018-12-11 09:06] benjaminhoffman commented on #4
I need to refactor to allow for this option.  Feel free to open a PR @isaac-martin ! :)

[2019-01-08 10:07] wazynski commented on #13
I'm interested in picking this up and creating a pull request, as I require this for a project I am working on, just wanted people thoughts on the implementation; my initial thought it just to have a param on the addToMailchimp to overwrite the endpoint, if that isn't present then default one from the config is used?

[2019-01-08 21:51] benjaminhoffman commented on #13
@wazynski YES thank you!  I'd love that.  Definitely down to collab on this too if you'd like.  I've just been swamped with work stuff.

What's your thoughts on accepting multiple endpoints?  I'm not sure how this would look but maybe an array of objects?

We can work through this here, via email, or G Hangout... whatever you prefer.  Either way, I appreciate you jumping in and look forward to get

[2019-01-09 15:43] wazynski commented on #13
@benjaminhoffman Great! I'm fairly swamped as well but adding this will make a project much easier. Happy to discuss on here just in case anyone else has any thoughts.

My thoughts where that in most cases I would think that the majority of cases you have a default list, but occasionally you would want to set a different endpoint for a certain page. e.g. an events list, or a list for blog updates.

[2019-01-10 15:35] benjaminhoffman commented on #25
I think this is done. right @abumalick @mikelax ?  Can you confirm if works for you as expected... I'd like to close the issue.

[2019-01-10 15:38] benjaminhoffman commented on #13
Yeah been thinking about this for a day.  You're observations are correct.  I think we should leave the endpoint in the config file.  We'd have a default with override capabilities.  We should also have the correct errors/warnings just in case someone tries to key off an endpoint that doesnt exist.  For example, they `addToMailchimp(email, attrib, 'bolg')`... note the misspelling.

So we either 1)

[2019-01-13 20:17] d-ivashchuk opened #29 "Troubles with making plugin work"
First of all thanks so much for the plugin and any help you can provide me with!

I want to use it to capture some emails from my blog, but can't make it work for some reason.

I have my `email` in `state` and my component is quite simple for now, as I am trying to figure out why it's not working:

[code]
I get the following error `Unhandled promise rejection Error: "Timeout"`

I would appreciate

[2019-01-13 20:58] d-ivashchuk commented on #29
Update: I have tried it with your example for Gatsby V2 and got the same result with my endpoint provided. So it's either me doing something completely wrong or there is an issue.

Here is what I am doing in `gatsby-config`:

[code]

Endpoint is totally valid, have checked it couple of times!

[2019-01-14 04:09] benjaminhoffman commented on #29
@d-ivashchuk hey!  a timeout error usually indicates something is wrong with the API call and mailchimp isn't responding fast enough.  Are you sure you are sending in all the required field data?  Are you sure you're hitting the correct MC endpoint?

Can you try a test for me... using cURL (or a HTTP request program), can you hit the endpoint yourself and see if you are getting the same error?  If

[2019-01-14 04:10] benjaminhoffman commented on #13
@wazynski checking in.... hope all is well.  keep me posted of your thoughts! 👍

[2019-01-14 08:07] d-ivashchuk commented on #29
So in terms of endpoint I am quite sure I have provided the correct one, as I’ve picked it exactly like it is explained in tutorial.

For provided fields I am not sure, docs state that only email is required so I provide it from state in this line `addToMailChimp(this.state.email).then(data=>console.log(data)`

[2019-01-14 17:00] benjaminhoffman commented on #29
Can you check if you have reCAPTCHA enabled for forms?  https://mailchimp.com/help/about-recaptcha-for-signup-forms/#Enable-reCAPTCHA/

If you do, that could be the issue.

[2019-01-14 17:11] d-ivashchuk commented on #29
Well, I've seen the issues with reCAPTCHA and checked it before - disabled. Also the one and only required field is `email`. I don't know what might cause timeout error apart from those, maybe you have a valid test endpoint config so I can make sure it's something wrong with my setup on mailchimp. I might also provide you mine or repo if you would be so kind to help and have time for it!

[2019-01-15 18:54] benjaminhoffman commented on #13
I think your solution is good.  To make it backwards compatible, we can add a check
[code]
thoughts?

[2019-01-16 00:19] benjaminhoffman commented on #29
is your project open source?  I can take a look.  Also, when you look at the network tab in Chrome, do you see any additional information in the response?

This diff (https://github.com/benjaminhoffman/gatsby-plugin-mailchimp/commit/8fffe3af75203f4de246a9292a938d69bba4bb73) added support for timeout so that the client didn't wait forever... I'm wondering if that has something to do with it?

[2019-01-17 11:10] d-ivashchuk commented on #29
So i've created a separate branch for this feature. I would be so grateful if you could take a look!

https://github.com/d-ivashchuk/ivashchuk-blog/commit/1997955e8e9d46d33e7e14b7b975a347bac704e1

[2019-01-21 09:12] JamalBelilet opened #30 "e.preventDefault; @Gatsby Import Plugin Instructions"
@Gatsby Import Plugin Instructions

Within the instructions  e.preventDefault; should be  e.preventDefault();

[2019-01-22 04:17] #30 closed

[2019-01-23 21:09] d-ivashchuk commented on #29
@benjaminhoffman So I've been exploring the bug for some time, and together with friend we discovered that plugin is indeed working almost on every browser but on Firefox Developer Edition there is that timeout error.

Have you heard of such an error on mailchimp side? I guess it's not on the plugin side.

[2019-01-24 19:19] benjaminhoffman commented on #29
That's supppper interesting.  Weird.  But this begs the question, if it's working on almost every other browser, do you really care that it's broken on FDE?  Of course I'd love to squash the bug but I believe that browser drives <0.1% of traffic so 🤷‍♂️.

Chrome and Safari also have features to block cookies, localStorage, and trackers.  This is definitely something we may want to account for.  Cu

[2019-01-24 19:22] d-ivashchuk commented on #29
As it’s rather not frequent error we could maybe add some disclaimer to the docs about possible problems when using some Cookies and tracker blockers.

Apart from that I think it’s fixed for me👍🏼

[2019-01-25 20:45] tarasmatsyk commented on #25
@benjaminhoffman I can confirm it works 🎉

BTW, thank you for the plugin!

[2019-01-26 00:01] #25 closed

[2019-02-06 17:35] wazynski commented on #13
@benjaminhoffman that's a perfect solution, I should be looking at this in the next week or so now, some other things came up on this project that were higher priority

[2019-02-19 23:08] benjaminhoffman commented on #29
@d-ivashchuk mind adding a PR explaining this disclaimer to the docs?  I'd be very appreciative!  🙏

[2019-02-19 23:08] #29 closed

[2019-02-27 00:06] aarondack commented on #13
@benjaminhoffman I'm pretty interested in this feature. I patched it myself by passing in a optional param that takes an `overridableEndpoint` but I'd like to see this get into the repo for future uses. If I'm reading correctly, you all are interested in allowing the user to add endpoints in their `gatsby-config.js`. What is the structure you were envisioning?

It was pretty simplistic to slap in

[2019-03-03 18:20] benjaminhoffman commented on #13
@aarondack correct.  if you're interested in solving / opening a PR, please do! :)  here is what we were thinking:

[code]

Then we'd do a check:
[code]

does this make sense?

[2019-03-13 01:59] mifeng opened #34 "Submission error in Brave browser"
When testing the v2 example in the Brave browser (https://brave.com/), the plugin throws an error upon submission rather than returning the Mailchimp response:
[code]

[2019-03-25 16:09] claytonbwell opened #35 "Name field not working"
Tried to follow the README, but I can't get my "name" field to come through. The email address entered is pushing through to my Mailchimp list with no issues, but the Name field entry doesn't come with it. I'm new to JS so I'm assuming I have something wrong in my code (maybe this.state.name?) but I'm not sure. Anybody mind taking a look? Thank you in advance.

[code]

[2019-03-25 17:17] benjaminhoffman commented on #35
should this line `addToMailchimp(this.state.email, this.state.name)` be this instead:
`addToMailchimp(this.state.email, {name: this.state.name})`

(second param is an object, not a string.  if that's not it, then i'll have to look later when i have more time.

[2019-03-25 17:36] claytonbwell commented on #35
Ah, ok I thought I had that line wrong. Thanks for the quick reply.

Tried what you sent and the form still works, but the name field is still not coming through.

The only 2 fields I'm using in my Mailchimp list are email and Name. I'm sure there's something else I'm missing. If you see something else wrong in my code please let me know. Thanks again.

[2019-03-25 18:19] b0gd4n commented on #13
the suggestion above looks good - is this in development now?

[2019-03-25 18:51] benjaminhoffman commented on #13
this is a highly-requested feature... figured someone from the community would do it but i guess i can pick it up sometime later this week.

that said, if anyone wants to get on it, happy to accept PRs!  otherwise, anticipate a fix by mid-april at the latest.

[2019-03-27 15:57] claytonbwell commented on #35
After some more troubleshooting, I found out that when I make the "Name" field required in my Mailchimp list, I get an error when I try to submit the form: "1 - Please enter a value". Any ideas on how to remedy this? Here's my current code for reference:

`import React, { Component } from 'react'
import addToMailchimp from 'gatsby-plugin-mailchimp'

export default class Mailchimp extends Component

[2019-03-27 19:24] benjaminhoffman commented on #35
1) can you upload a gif?  you can use licecap to create the gif: https://www.cockos.com/licecap/

2) what does this line output when you try to submit a form: `console.log('err', err)`

3) what does this line output when you try to submit a form: ` console.log('submit', this.state)`

[2019-04-23 13:48] tizzle commented on #35
Hey @claytonbwell,

the second parameter to the addToMailchimp function is an object in which you should put the names of the inputs from the embed form. For me this works:

[code]

Hope this helps.

[2019-04-23 13:50] claytonbwell commented on #35
@tizzle, I'll try that and see if it works. Thanks!

[2019-04-23 13:50] #35 closed

[2019-04-24 16:04] benjaminhoffman commented on #13
https://github.com/benjaminhoffman/gatsby-plugin-mailchimp/pull/36

This is my first attempt at building this feature request.  In this diff, I now allow for you to pass an object -- not a string -- then in your page component you can indicate which list you want to hit.

But now, on second thought, I think I will leave the API the same but instead allow you to override the default list by passing

[2019-04-24 16:06] b0gd4n commented on #13
@benjaminhoffman will try this out - thank you!

[2019-05-01 22:47] benjaminhoffman commented on #13
this is now fixed.  please upgrade.  its a NON breaking change.  thx

[2019-05-01 22:47] #13 closed

[2019-05-01 22:48] benjaminhoffman commented on #28
is this still an issue?  otherwise, I will close.

[2019-05-01 22:49] benjaminhoffman commented on #34
this is usually the result of:
- invalid or missing mailchimp endpoint
- captcha enabled
- ad blockers

can you confirm it's non of the above?  thx

[2019-05-01 23:12] mifeng commented on #34
This is definitely an issue with the Brave browser, which aggressively blocks external API calls as part of their ad blocking. Others have reported similar issues. https://community.brave.com/t/mailchimp-website-widget-unresponsive-to-submit-button/12788

We added some (hacky) JS to detect when the error occurs and tell users to change their Brave browser setting:
[code]

<img width="523" alt="Scr

[2019-05-29 13:06] intelligence opened #39 "Option for when email already exist in list"
Might be a very specific request, but, I'm working on a site currently where users will be able to sign up to a mailchimp list to get future updates whenever the product is release (it's a pre-order campaign).

There are three unreleased products which customers can apply for future stock availability. Let's say a customer tries to sign up for two of the products, I imagine Mailchimp will throw an

[2019-07-03 19:11] stemmlerjs opened #41 "Multiple SiteTitleQuery getting picked up in Netlify builds causes it to fail"
Getting this error in Netlify all of a sudden using Gatsby v2.

[code]

I forked the project and nuked the `/examples` folder and it worked for me after that.

https://github.com/stemmlerjs/gatsby-plugin-mailchimp

[2019-07-03 20:06] benjaminhoffman commented on #41
correct. this is the fix.  https://github.com/benjaminhoffman/gatsby-plugin-mailchimp/pull/40

[2019-07-03 20:06] #41 closed

[2019-07-04 21:46] uvdesign commented on #39
I am kind of hoping for the same thing @intelligence .  I have website where we have different tournaments and players will sign up for each one.  So one month they sign up for that tournament and the next month different one. I need the group to be updated when they sign up for each tournament.

[2019-07-06 04:19] benjaminhoffman commented on #39
yeah i'd love to include this.  good idea.  im a bit swamped with work right now but happy to look into this later this summer.

[2019-07-17 13:27] isaacsultan opened #42 "_GATSBY_PLUGIN_MAILCHIMP_ADDRESS__ is not defined"
# System details

* node v8.9.3
* npm 6.5.0
* gatsby: "^2.13.23"
* gatsby-plugin-mailchimp: "^5.1.2",

# Usage
The endpoint is defined in `gatsby-config.js` as:

[code]
And called:

[code]
# Stacktrace

[code]

[2019-07-17 16:23] benjaminhoffman commented on #42
Taking a closer look at your endpoint... are you sure that's a Mailchimp URL? I'm trying to think what else this could be... did you have this working before and it just failed? Or did you just install this?

I usually recommend removing as much as possible from your environment and slowly adding stuff back in to see if there is a conflict.  For example, try using the basic starter from Gatsby wit

[2019-07-25 14:03] arturhenryy opened #43 "Bug: Error in your GraphQL query due to example page query"
/node_modules/gatsby-plugin-mailchimp/examples/gatsby-v1/src/layouts/index.js

[2019-07-25 14:03] arturhenryy opened #44 "Bug: Error in your GraphQL query due to example page query"
I get the following error:

There was an error in your GraphQL query:

Error: RelayParser: Encountered duplicate defintitions for one or more documents: each document must have a unique name. Duplicated documents:
- SiteTitleQuery

the mentioned query is used duplicated in the gatsby v1 example and gatsby v2 example in the layouts/index.js

/node_modules/gatsby-plugin-mailchimp/examples/gatsby-v1/

[2019-07-25 14:11] arturhenryy commented on #44
https://stackoverflow.com/questions/55381810/why-is-it-not-possible-to-have-the-same-name-of-two-staticquery-elements-on-two/55394443

using the useStaticQuery hook or ommiting the name of the query should fix this problem

[2019-07-25 14:11] #43 closed

[2019-07-25 15:13] benjaminhoffman commented on #44
are you still on gatsby v1?   is it possible to upgrade to gatsby v2?  if so, then you can use the v2 version of this plugin.

if not, then you (or me) needs to open a PR and merge the equivalent to this PR but for the `gatsby-v1` branch: https://github.com/benjaminhoffman/gatsby-plugin-mailchimp/pull/40

i can do it this weekend if you're unavailable

[2019-07-26 08:35] arturhenryy commented on #44
no i am at v2 but it was related to this issue here
https://github.com/gatsbyjs/gatsby/issues/15344

so i fixed it by updating your plugin. thanks for the help though. have a nice weekend!

[2019-07-30 08:24] Allegra9 commented on #44
fixed by updating to "gatsby-plugin-mailchimp": "^5.1.2"

[2019-08-02 10:56] domtaylor commented on #42
@isaacsultan and also use the method defined in the docs i.e. addToMailchimp instead of camel case.

[2019-08-04 09:07] makeupsomething commented on #2
Im getting this error again
using version `5.1.2`

I can see in the chrome dev tools that the request does include `post-json` but the content type in the response header looks like `Content-Type: text/html; charset=UTF-8`

I followed the documentation so I'm not sure what's going wrong.

[2019-08-04 16:19] benjaminhoffman commented on #2
@makeupsomething can you paste in some of your code so we can take a look?

[2019-08-08 01:07] ghost opened #45 "Firefox blocks submission"
If you test with firefox, it is blocking the submissions because of tracking issues

[2019-08-08 01:08] LittleHamster commented on #34
This issue happens with firefox too, but if you embed the mailchimp form it doesnt have the issue

[2019-08-15 02:41] LittleHamster commented on #45
any updates on this @benjaminhoffman ?

[2019-08-15 16:42] benjaminhoffman commented on #45
no updates.  im not sure what you want me to do?  you'll have to provide more context -- what was the error you saw?  can you setup a repro for me to play with?  is this ad blocker or something else?  what do you imagine the fix would be.  ...info like this makes it easier for me to find an answer.

[2019-08-15 22:02] LittleHamster commented on #45
hi @benjaminhoffman
The settings are all default settings. If you use firefox, you are not able to submit the form and this is the error you get in the console.

[code]

and also a time out
[code]
so the content blocking is enabled by default in Firefox.

If you embed the mailchimp code directly, you wont have an issue even with content blocking enabled. A fix would allow submission even if the co

[2019-08-25 16:34] slorber opened #46 "TinyLetter integration?"
Hi,

I've recently published my Gatsby blog and subscribed to TinyLetter, a service owned by MailChimp.

Can I use this plugin to add users to my TinyLetter? (https://tinyletter.com/slorber)

Honestly I have no idea if this issue even makes sense  (all this is new to me), but as I don't find any discussion regarding this it may be helpful to others too...

[2019-08-27 06:45] Okelm commented on #42
The same issue observed in my case, which gets resolved after restarting node (npm start).
I was able to add a couple of emails within the last couple of days and then I've run it today and had the same issue:

which points to this piece of code:

[code]

[2019-08-27 07:03] Okelm commented on #45
@LittleHamster I was able to fix it by changing from `Custom` to `Standard`:

<img width="954" alt="Zrzut ekranu 2019-08-27 o 08 57 37" src="https://user-images.githubusercontent.com/14316935/63748277-57d33b00-c8a9-11e9-8d4b-acde24960427.png">

[2019-08-27 07:07] Okelm commented on #42
it's okay, `addToMailchimp` has a default export

@benjaminhoffman Mailchimp URL looks correct

[2019-08-27 18:02] slorber commented on #46
thanks anyway :) will just stop using tinyletter and use mailchimp instead as it looks more powerful

[2019-08-27 18:02] #46 closed

[2019-08-30 13:08] zcei opened #47 "Always false condition for uppercasing fields"
Hej, I've successfully included the plugin in my project, so first of all: thank you for making this a breeze for me!

I was interested in the code and had a look. One thing I couldn't explain to myself though.

https://github.com/benjaminhoffman/gatsby-plugin-mailchimp/blob/4019e224cd390e601e9d1a1575d39c26f76e3043/src/index.js#L39-L41

I understand that this is intended to keep groups lowercased,

[2019-08-30 15:25] benjaminhoffman commented on #47
interesting.  good point.  mind opening a PR to fix?

[2019-08-30 17:10] zcei commented on #47
Definitely up for it, just wanted to clarify it first 🙂

[2019-08-30 17:23] zcei commented on #47
Interestingly this means that the examples currently send invalid field names to mailchimp?! 🤔

**Gatsby v1 - explicit lowercased field name:**

https://github.com/benjaminhoffman/gatsby-plugin-mailchimp/blob/4019e224cd390e601e9d1a1575d39c26f76e3043/examples/gatsby-v1/src/pages/index.js#L18

**Gatsby v2 - implicit target name:**

https://github.com/benjaminhoffman/gatsby-plugin-mailchimp/blob/4019

[2019-08-31 20:41] benjaminhoffman opened #48 "Show warning for blocked requests on privacy browsers"
It appears this plugin does not work on browsers that aggressively block ads and certain network requests.  It will cause a timeout.

Not sure of the correct solution here but it's been suggested to [simply embed the form](https://github.com/benjaminhoffman/gatsby-plugin-mailchimp/issues/45#issuecomment-521813489). That's worth looking into but it may take a rewrite of the plugin.

In the meantime

[2019-08-31 20:43] benjaminhoffman commented on #34
I've created a ticket for this issue.  If someone wants to open a PR of @mifeng's (temporary) solution, that would be helpful!  If not, I'm happy to do so within a month or so.

Please follow this issue for updates on this bug.  https://github.com/benjaminhoffman/gatsby-plugin-mailchimp/issues/48

[2019-08-31 20:44] benjaminhoffman commented on #45
I've consolidated a few issues, including this one, into #48.  If someone wants to open a PR of @mifeng's (temporary) solution, that would be helpful!  If not, I'm happy to do so within a month or so.

[2019-09-05 01:57] jpvalery commented on #34
Hey @mifeng,

Where did you add this?

This could be easily changed into something generic like
[code]

I feel this would be do the trick for most of the users out there and avoid people leaving because it appears broken?

Thanks for your help!

[2019-12-07 02:09] slavakurilyak opened #51 "Fix plugin for Contentful compatibility"
Please fix the [gatsby-plugin-mailchimp](https://www.gatsbyjs.org/packages/gatsby-plugin-mailchimp) plugin to work with [gatsby-source-contentful](https://www.gatsbyjs.org/packages/gatsby-source-contentful/) plugin.

The Mailchimp form does not show up when both plugins are added to Gatsby.

This issue was originally posted on [gatsby-theme-novela](https://github.com/narative/gatsby-theme-novela)

[2019-12-13 14:40] alexislepresle opened #52 "Error with gatsby-plugin-mailchimp/examples/gatsby-v1/"
I have an error when deploying with Netlify :

3:32:49 PM: /opt/build/repo/node_modules/gatsby-plugin-mailchimp/examples/gatsby-v1/src/layouts/index.js
3:32:49 PM: error Multiple "root" queries found in file: "SiteTitleQuery" and "SiteTitleQuery".
3:32:49 PM: Only the first ("SiteTitleQuery") will be registered.
3:32:49 PM: Instead of:
3:32:49 PM: 1 | query SiteTitleQuery {
3:32:49 PM: 2 |   bar {

[2019-12-13 17:05] max-lynn opened #53 ""gatsby-plugin-mailchimp" threw an error while running the onCreateWebpackConfig lifecycle"
**"gatsby-plugin-mailchimp" threw an error while running the onCreateWebpackConfig lifecycle**

Seeing the above error when I run a gatsby develop.

The code that I have written seems to work and updates the mailchimp endpoint but I get this Error in the terminal when running gatsby develop.

It says that I haven't added my endpoint but I have entered it in the plugins section as illustrated in th

[2019-12-17 23:45] benjaminhoffman commented on #53
can you help answer a few questions:
- what version of `gatsby-plugin-mailchimp` are you using?
- what version of gatsby are you using?
- can you paste more of the error (anything before or after you forgot?)
- paste your `gatsby-config.js` file for this plugin (but obsfucate your mailchimp endpoint)

thank you!  -ben

[2019-12-17 23:47] benjaminhoffman commented on #52
can you help answer a few questions:
- what version of `gatsby-plugin-mailchimp` are you using?
- what version of gatsby are you using?
- paste your `gatsby-config.js` file for this plugin (but obsfucate your mailchimp endpoint)

thank you!  -ben

[2019-12-17 23:47] benjaminhoffman commented on #52
... and what makes you think this is an issue w our plugin?  thx!

[2019-12-19 17:14] alexislepresle commented on #52
- gatsby-plugin-mailchimp : 3.3.0
- "gatsby": "^2.18.11",
- gatsby-config.js :

module.exports = {
  siteMetadata: {
    title: `Alexis Lepresle — Web developer Full-Stack`,
    description: `Do you have a project idea? Lets me know. I make website e-commerce with Reaction Commerce, Big Commerce and Shopify`,
    author: `Alexis Lepresle`,
    siteUrl: `https://alexislepresle.com/`,
  },
  plugins

[2019-12-19 17:15] alexislepresle commented on #52
Because the error comes from your plugin

[2020-01-03 08:47] alexislepresle commented on #52
I hadn't updated the plugin, the problem had been fixed in a PR :)

[2020-01-03 08:47] #52 closed

[2020-01-18 15:33] jpvalery commented on #34
@benjaminhoffman is this still on your radar?

[2020-01-18 19:09] NikhilNamal17 commented on #39
@intelligence did you find the solution?

[2020-01-18 19:17] benjaminhoffman commented on #39
anyone @here want to take this on?  i imagine / hope mailchimp returns a value we can key off of to know if an email already exists in a list then we can handle that special case.

i can help if someone wants to take on the effort.  ty!

[2020-01-18 19:20] benjaminhoffman commented on #34
yes!  so sorry.  just been super swamped.  let me see if i can get to it this weekend, but at worst, i will do before feb.

[2020-01-20 13:33] jpvalery commented on #34
No worries, totally understand :) Let me know if I can be of any help

[2020-01-28 19:58] carljbusch commented on #39
@benjaminhoffman I can try to help and see what I can do.  Not sure if I will be any help.  But I do understand Gatsby way more today than last year. 😊

[2020-01-28 23:20] benjaminhoffman commented on #39
yes please!  ty @carljbusch

[2020-02-02 06:39] LittleHamster commented on #34
@benjaminhoffman did you check the calendar? :P

[2020-02-02 17:51] #47 closed

[2020-02-02 17:51] #53 closed

[2020-02-02 17:54] benjaminhoffman commented on #51
@slavakurilyak im going to close this issue for now since there isn't much info.  im not sure the correct fix and there hasn't been any activity on this issue.

feel free to re-open it with more info and context... or even better, open a PR to fix it! :)

[2020-02-02 17:54] #51 closed

[2020-02-02 17:54] #44 closed

[2020-02-02 17:56] benjaminhoffman commented on #34
@LittleHamster fastest way to get this solved is by opening a PR!  :)  will do my best to get to it but got a million other things going on too.

[2020-02-02 18:34] LittleHamster commented on #34
@benjaminhoffman
yeah no worries, just wanted to follow up. I am not sure how I can help except the info I shared here https://github.com/benjaminhoffman/gatsby-plugin-mailchimp/issues/45

right now I am just embeding the code directly

[2020-02-14 09:28] philip-akerfeldt opened #58 "Updating existing entry in Mailchimp list"
Hello!

I have a question if there is any functionality for updating an existing entry in a Mailchimp list as of now?
I have a list where i would like to update an existing entry with additional data if it exists prior to the function call.

Am I wrong or is there only an _add_ function right now? Can you modify that function or will a new function be needed to perform this sort of update?

Thanks

[2020-02-15 17:32] benjaminhoffman commented on #58
Hi @philip-akerfeldt ... although this is something I'd love to add, I don't have the bandwidth to code it.  Sorry about that.  If you (or others!) would like to open a PR, I'm all for it.  Thanks for understanding.

You're likely correct in that it is probably / hopefully doable.... I just haven't investigated how.

[2020-02-27 00:22] reinhal opened #59 "Trouble getting the plugin to work"
I have set up the code and configured the plugin in the gatsby-config.js file, but when I click submit the form, I do not get any of the console.log that I expect to see.

Any ideas on what I am missing?

`import React from 'react'
import addToMailchimp from 'gatsby-plugin-mailchimp'

export default class JoinNewsletter extends React.Component {
  state = {
    email: null,
    firstName: null,

[2020-02-27 06:24] benjaminhoffman commented on #59
hi @reinhal ... your question is a bit outside the scope of this plugin because even if you remove the plugin code, i think you may still have issues with it?

if that's truly the code you have on the page, you'll notice that the `_handleChange` and `_handleSubmit` functions never get called. you need to create html input fields and attach those methods to the fields.

i highly recommend following

[2020-02-27 06:24] #59 closed

[2020-02-28 01:00] reinhal commented on #59
thanks @benjaminhoffman. I get it.  I see that I was too much in a rush and my html code did not completely paste.  I am wondering if there is an issue on the mailchimp side.

But, I am calling both functions.  Here is the code again, I had to remove the open and close tags on everything for it to show:

`import React from 'react'
import addToMailchimp from 'gatsby-plugin-mailchimp'

export defaul

[2020-03-01 17:35] reinhal opened #60 "example not working"
I cloned the repo to get the simple example working for v2: I see everything in the console, but the submission does not work.  I keep the same error regarding the email not being the right format so it won't go through.

In my personal project, the values of the submit (the handleChange does show up) do not show up in the console because the whole page re-renders when the submit button is clicked

[2020-03-02 07:00] benjaminhoffman commented on #60
if the whole page is refreshing on form submit, try adding [preventDefault](https://developer.mozilla.org/en-US/docs/Web/API/Event/preventDefault)

can you copy and paste the error here that you are seeing for me to review.  thx

[2020-03-03 12:49] reinhal commented on #60
I do have preventDefault, it is a re-render.

There is no error and no console.logs showing up in my personal project, in the gatsby-v2 project the console shows the following errors:
msg error: The email you entered is not valid.
err The email you entered is not valid.

[2020-03-15 23:40] checkthemethod commented on #52
@alexislepresle i was running into the same issue. how was this resolved?

[2020-03-16 22:59] jodiedoubleday opened #62 "Uncaught SyntaxError: Unexpected token '<'"
I see this was fixed in https://github.com/benjaminhoffman/gatsby-plugin-mailchimp/issues/2 but it seems to still be happening for me using 5.1.2

Example code:
[code]

[2020-03-18 15:41] jodiedoubleday commented on #62
Figured it out, i was being an idiot, i didn't fill out the `endpoint` correctly and so it was 404'ing.

I'll get my coat

[2020-03-18 15:41] #62 closed

[2020-04-15 14:19] juliensl opened #63 "Cannot acces to Tags"
Hi everybody !

I am working to implement a registration form for my mailchimp audience list with Gatsby and I would like to use your plugin for this :smiley:

However, we succeed to use the Groups function, but we did not succeed to tag our new contacts with the plugin :/

Is there any possibility to use my tags from mailchimp to tag my new contacts ?

I am adding a colleague to the topic : @knab

[2020-04-28 14:45] nh273 commented on #42
Having the same issue. I have also tried passing my MC endpoint URL in as a param to addToMailChimp but the same `ReferenceError: GATSBY_PLUGIN_MAILCHIMP_ADDRESS is not defined` is still happening. Endpoint is ok because I send a POST to the same endpoint using Postman and got a 200 back. Could be an issue with conflicting es-lint settings? (shot in the dark, no exp with es-lint)

[2020-05-01 16:57] scarsam commented on #42
@nh273 Any luck with this? I'm having the same issue all the sudden.

[2020-05-01 17:16] benjaminhoffman commented on #42
this is so weird.  does anyone here have repro steps i can do?  no updates have been made to the plugin so 🤷‍♂️

[2020-05-01 17:19] scarsam commented on #42
I'm going to try what you suggested and start removing plugins to see if there is a plugin conflict happening, I'll circle back here later today.

[2020-05-01 18:26] scarsam commented on #42
I had a silly mistake in my `gatsby-config.js` causing this error. Two of my plugins were defined in the same object.. 🤦

[code]
The Stripe and Mailchimp plugin was defined in the same object causing this issue.
[code]

[2020-05-01 19:25] domtaylor commented on #42
No worries we've all been there, including me 🤦. I have just checked
what's happening on my site and I can see it's still working, but it takes
a super long time for the state to change and display the message (anyone
else have this). Also sometimes get a cors warning in my console. I thought
I'd taken care of that through micro-cors package but apparently not.

On Fri, May 1, 2020 at 7:26 PM Sam

[2020-05-05 03:07] minimaldesign opened #65 "Enable honey pot?"
In Mailchimp form builder output, there's a field that looks something like:

[code]

Is there a way to make this work through your plugin?

Thanks!!

[2020-05-05 03:28] benjaminhoffman commented on #65
this seems like a good idea. open for PRs or suggestions!

[2020-05-06 02:26] sounak98 opened #66 "error Multiple "root" queries found in examples/gatsby-v1/src/layouts/index.js"
Gatsby `build` (even `develop`) fails with the following error:

[code]

## Env
- `node`: v11.10.1
- dependencies:
[code]

**NOTE**: when I go to the mentioned file (`examples/gatsby-v1/src/layouts/index.js`) and remove the code from the `Layout` component , everything works fine.

[2020-05-06 14:56] gabrieluizramos opened #67 "Use timeout based on plugin options"
Hi there! Nice plugin, it helped me a lot!

I was thinking about adding a `timeout` field on the options, so it can be specified by the plugin user and set a default value of the current 3500ms instead of fixing it.
What you think about it?

Great job!

[2020-05-06 16:57] benjaminhoffman commented on #67
oi @gabrieluizramos for the issue.

Is the use case to help with page load speed?  By preventing this plugin from loading during the page load and instead wait till _after_ the page loads?

I'm open to it, although I would make it 500ms with option to override.

But I am very busy these days!  If you want to open a PR, we can review together then merge.

[2020-05-06 17:57] gabrieluizramos commented on #67
Hi @benjaminhoffman ! Thanks for the quick response!

Actually it was about the timeout of the jsonp request.
I found that `3500` was too short in some scenarios and maybe receiving it from the options would be nice.

What you think about it?

[2020-05-07 09:07] GenisDiaz commented on #42
I had the same problem but I only had to restart the gatsby server and it worked again

[2020-05-08 21:43] gabrieluizramos commented on #67
Hi @benjaminhoffman ! To make things clear, already made the PR inserting the `timeout` on the `options` plugin configuration.

It's the #68

Hope you like it!

[2020-05-12 19:29] emmadigital opened #69 "How can I display success message?"
How should I redirect the user once the form gets submitted, to show the success message. If I add **action="/success/"** to form tag it doesn't redirects. Please advise.

[code]

[2020-05-13 11:29] emmadigital commented on #69
I tried below logic but its not working can you please guide, how to make it work,

[code]

[2020-05-17 00:23] benjaminhoffman commented on #69
[code]

[2020-05-17 00:23] #69 closed

[2020-05-25 02:00] #67 closed

[2020-05-25 02:24] benjaminhoffman commented on #66
I'm hoping this commit fixes this issue: https://github.com/benjaminhoffman/gatsby-plugin-mailchimp/commit/d372352c565c73ad5412a6e273482ece5f59cddb

Let me know if not. :)

[2020-05-25 02:24] #66 closed

[2020-05-25 02:25] benjaminhoffman commented on #60
We will need more information to help with this.  Mind pasting your code.  Closing this for now, feel free to re open if you're having an issue.

[2020-05-25 02:25] #60 closed

[2020-05-25 02:26] benjaminhoffman commented on #42
Looks like this may be solved?   Would love to close it but if anyone is still experiencing issues, I am happy to keep it open.

[2020-05-25 02:26] benjaminhoffman commented on #39
dupe of https://github.com/benjaminhoffman/gatsby-plugin-mailchimp/issues/58?

[2020-05-25 02:26] benjaminhoffman commented on #58
dupe of https://github.com/benjaminhoffman/gatsby-plugin-mailchimp/issues/39?

[2020-05-26 05:37] rostgoat opened #70 "v1 branch missing"
Running

[code]

returns

[code]

Looks like v1 branch is missing?

[2020-05-26 09:14] benjaminhoffman commented on #70
fck. i deleted the `gatsby-v1` branch!  grrrh. sorry!

i _tried_ to bring it back by finding the last stable commit for gatsby v1, then reseting to that time, and pushing this up to github.  but im running into issues locally.

can you take a look yourself?  the commit is https://github.com/benjaminhoffman/gatsby-plugin-mailchimp/commit/df78a76fccce89287cd1ca404984ad6cfb3c0798

[2020-05-26 20:48] rostgoat commented on #70
forked and ran `git log`

[code]

checked out this commit and ran my app locally - things worked (yay)

pushed up this commit in a branch called `last-working-v1` to my fork.. not sure what to do from here tbh?

[2020-05-26 20:56] rostgoat commented on #70
I can't push to your repo directly even if I reset my origin to point to the original repo

[code]

[2020-05-31 22:36] arhoy opened #72 "List is GONE"
Following instruction and step 1 does not work. List is nowhere to be found!

![NOLIST](https://user-images.githubusercontent.com/10405245/83364193-c8d5e080-a35c-11ea-928b-7dd9dca7dd91.PNG)

[2020-06-01 02:13] benjaminhoffman commented on #72
Sorry, I do not understand the question.  Can you be more specific and provide more details. Thanks

[2020-06-01 02:42] arhoy commented on #72
The question is where is the lists?

On Sun, May 31, 2020 at 8:13 PM Benjamin Hoffman <notifications@github.com>
wrote:

[2020-06-01 03:39] benjaminhoffman commented on #72
Click the _Audience_ tab.  Mailchimp changed their UI unfortunately... `https://...mailchimp.com/audience/`

I should update the README when I get a chance.

[2020-06-16 23:11] eurubkov opened #73 "How to secure the Mailchimp's POST URL?"
Hi,

Maybe it's a dumb question but I can't figure out how to do it without having a backend. I set up the Mailchimp URL to be the environment variable to be used in a form, but whoever knows where to look will easily be able to find it in Dev Tools -> Network -> request -> Headers in any browser. How do people usually handle such sensitive information so it's not so easily discoverable?
Thanks!

[2020-06-17 01:31] benjaminhoffman commented on #73
this is a known issue With mailchamp in general and that is why they prevent you from doing clients side subscriptions. sense Gatsby is serverless, this is the best solution we can come up with.  it’s also one of the reasons why we do our best with the plug-in to hide the URL.

take a look at the code and you will see how we try to hide the URL.

 It’s also not absolutely horrible if your URL is d

[2020-06-17 01:34] eurubkov commented on #73
Thanks for the quick response! I wanted to make sure I was doing it correctly.

[2020-06-17 01:34] #73 closed

[2020-06-21 08:39] molebox opened #74 "Cant install latest version"
Hey, I cant seem to install the latest version of this package. Im getting

[code]

[2020-06-22 14:01] molebox commented on #74
My bad. I was looking at a different package 😂🤦‍♂️

[2020-06-22 14:01] #74 closed

[2020-06-22 15:16] benjaminhoffman commented on #74
lol yeah i was like wtf?  but figured it would self resolve or i'd pop in a few days to diagnose.  glad you got it working!

[2020-06-30 10:33] eminvergil opened #75 "gatsby build gives error || "Mailchimp endpoint required and must be of type string. ""
Hi everybody!

i implemented a subscription form in gatsby.when i run the server with "**gatsby develop**" everything works just fine.
but when i tried to build the website with "**gatsby build**" it gives error both on netlify and my computer.

**ERROR DETAILS:**

11:17:22 PM: Mailchimp endpoint required and must be of type string. See repo README for more info.
11:17:22 PM:   10 |
11:17:22 PM:

[2020-06-30 13:47] benjaminhoffman commented on #75
please read the setup instructions in the README.

we discuss how to add your endpoint strong.

[2020-06-30 15:27] eminvergil commented on #75
i read the setup insructions in the README and this time i didnt use dotenv i just passed the STRING to endpoint and it gives this error:

6:10:16 PM: error Building static HTML failed
6:10:16 PM:
6:10:16 PM:
6:10:16 PM:   WebpackError: /opt/build/repo/public/render-page.js:38648
6:10:16 PM:
6:10:16 PM:   - build-html.js:107 doBuildPages
6:10:16 PM:     [repo]/[gatsby]/dist/commands/build-html.js:

[2020-06-30 16:05] benjaminhoffman commented on #75
dooes your `gatsby-config` looks like this:
[code]

[2020-06-30 16:06] benjaminhoffman commented on #75
that error you show does not indicate that the error is related to this plugin... can you be extra sure you don't have any other changes in your diff.

try starting from scratch.  and install this plugin.  read the entire README first..  hope that works!

[2020-06-30 23:52] devism commented on #63
Is it possible to send a tag to the listing Audience ?

[2020-07-01 12:44] juliensl commented on #63
Hi @devism ,

Personally, I don't use this plugin anymore, I prefer to use API call with serveless function to add my members.
That gives me more possibilities.

However, the mailchimp API is a litle bit complicated, good luck !

[2020-07-07 17:09] eminvergil commented on #75
i just unintsalled this plugin from my project and tried to build again with **gatsby build**. and successfully builded.

i think this plugin causes the problem .you should really check it

[2020-07-07 17:47] benjaminhoffman commented on #75
im sure this plugin did cause the issue.  no doubt.  but it's hard to diagnose without knowing more about your setup.  as required above, what does your `gatsby-config` look like, specifically for this plugin section?  what other changes have you made?  what other plugins have you installed.

it's really hard to know where to look without knowing more about your individual setup.

im going to clos

[2020-07-07 17:47] #75 closed

[2020-07-08 16:22] bue221 commented on #42
@isaacsultan hi I look your code and compare with the documentation and we see that you call addToMailchimp with capital leter:

  const handleSubmit = async (e) => {
    e.preventDefault();
    const result = await addToMailChimp(email)--------------------> here is the problem
  }

and when you see the documentation don't use the capital leter.

![image](https://user-images.githubusercontent.com/

[2020-07-11 18:27] dannyk3941 opened #76 "Address parameters are capitalized in request to mailchimp"
I have a sign-up form in mailchimp and it also has fields for the user to input their address. When I list these parameters in list fields, I am getting the error.

[code]

Looking at the headers I believe this is due to the address parameters being capitalized and not matching the exact name in HTML address fields. The names in my embedded html form has names in this way for the address fields:
[

[2020-07-12 08:06] benjaminhoffman commented on #76
here we uppercase all fields names, and i guess apparently subfields too.  ive never heard of this use case.  if you can create a solution to this, im happy to merge any PRs.  i dont think we currently handle this use case.
 https://github.com/benjaminhoffman/gatsby-plugin-mailchimp/blob/master/src/index.js#L42

[2020-07-20 00:31] studiopda commented on #70
For anyone encountering this issue make sure to delete your yarn / npm lock files as the there's a mismatch with the dependancies. All working off the latest v1 branch after we did that.

[2020-07-24 10:07] joakim-roos opened #78 "Is there a way to change the return promise message?"
Hi Benjamin,

Love this plugin and very easy to implement mailchimp with gatsby thanks to this.

I'm wondering if there's a way to change the returned promise messages? The error message I get right now when the user is already subscribed is:

[code]

I'd like it to only be something like "It seems that you already are subscribed!".

Thank you,
Joakim

[2020-07-26 20:37] benjaminhoffman commented on #78
can you wrap the call in a try/catch, then key off the string `is already subscribed to list` then reformat to a string you prefer?

[2020-08-05 20:38] slavakurilyak commented on #51
@benjaminhoffman can you take a look at this issue again? @connorwhitman made great progress ([here](https://github.com/narative/gatsby-theme-novela/issues/223)).

[2020-08-05 21:34] connorwhitman commented on #51
Hey @slavakurilyak - the Mailchimp plugin isn't the issue, got it working fine with only some (admittedly messy) component shadowing on the narative/novela theme. Didn't have to touch the plugin, the issue is again with the schema.

[2020-08-18 11:47] pablosmith commented on #75
Hey @benjaminhoffman I'm having the same issue (Mailchimp Endpoint required and must be of type string).. to allow it to build for now, I modified the plugin to not check for a string (was meeting a client deadline and didnt have time to troubleshoot), here's my set up:

[code]

[2020-08-18 13:59] pablosmith commented on #75
Fixed my own problem, for people with the same problem: make sure your endpoint copy-paste DOESN'T convert the "&" to "&amp;", fixing that made it run seamlessly, thanks @benjaminhoffman for the lovely plugin!!

[2020-09-08 18:04] Hendrejvr opened #80 "GDPR Fields"
Hi

Firstly, thank you for the plugin.

How do you guys handle the GDPR fields? In the form builder it looks like this:
`<fieldset class="mc_fieldset gdprRequired mc-field-group" name="interestgroup_field">
		<label class="checkbox subfield" for="gdpr_42537"><input type="checkbox" id="gdpr_42537" name="gdpr[42537]" value="Y" class="av-checkbox gdpr"><span>Email</span> </label>
        </fieldset>`

[2020-09-10 07:11] benjaminhoffman commented on #80
we aren't handling it.  sorry!  would love if you wanted to help solve it and open a PR!

[2020-09-10 16:00] Hendrejvr commented on #80
Sure, I can do that. Let me check

[2020-09-10 16:29] Hendrejvr commented on #80
#81
I have fixed it locally for me, so you can take your time reviewing it

[2020-09-16 17:32] joakim-roos commented on #78
Got it. That worked. Thank you!

[2020-09-16 17:32] #78 closed

[2020-09-16 17:53] Quantmatic opened #82 "failure to add to list with no error"
import addToMailchimp from "gatsby-plugin-mailchimp"
import React from "react";

export default class SubscribeForm extends React.Component {
  constructor(props) {
    super(props);
    this.state = {email: ""};

    this.handleChange = this.handleChange.bind(this);
    this.handleSubmit = this.handleSubmit.bind(this);
  }

  handleChange(event) {
    event.persist();
    this.setState({email: ev

[2020-09-17 12:37] Quantmatic commented on #82
Turned out to be a third party tracking cookie issue, not easily circumvented

[2020-09-17 12:37] #82 closed

[2020-09-22 17:10] marcomiduri opened #83 "Build failed"
1 | function _assertThisInitialized(self) {
  2 |   if (self === void 0) {
  3 |     throw new ReferenceError("this hasn't been initialised - super() hasn't been called");
     | ^
  4 |   }
  5 |
  6 |   return self;

  WebpackError: /public/render-page.js:13592

Hi, I have built a subscribe form using this plugin and it worked fine on dev mode. But I am getting error on build command. Please che

[2020-10-14 14:22] mattdufeu opened #84 "Please enter a value"
I'm struggling to get the example to work. I'm hopefully doing something silly.

To make it as simple as possible, I've skipped the whole form, field, states etc and am directly calling `addToMailchimp("<my_email_address>")` .

No matter what I try, the response from mailchimp is:

`__jp0({"result":"error","msg":"1 - Please enter a value"})`

From the devtools I can see the GET request:

`"https:/

[2020-10-15 05:56] mattdufeu commented on #84
Turns out, this was because "firstname" was set as a required field.

I was connecting to a old (neglected) mailchimp account and I forgot I had that set.

[2020-10-15 05:56] #84 closed

[2020-11-14 05:54] RomualdasT commented on #75
Hi. I had the same error on Netlify build. What I did - added Mailchimp endpoint to Netlify Build Variables. Read more: https://docs.netlify.com/configure-builds/environment-variables/#deploy-request-notifications
Hope it helps.

[2020-11-24 15:00] sorknes opened #85 "How to add predefined tags from Mailchimp"
How to I use tags from Mailchimp and where do I find the correct tag/group ID?

I've tried setting the tag-name as a state and adding the value to a hidden field:

[code]

This does not work. Any suggestions on how to send in or connect to the correct tag?

[2020-11-25 08:23] sorknes commented on #85
Found out how to add new signups to a Mailchimp group.

In Mailchimp go to Audience -> All Contacts -> Manage contacts -> Groups. Create your group category and add group names.

After creating your group, go to Signup forms -> Embedded forms -> Find your your new group inputs and copy the names. They look something like this: name="group[13080][0]".

Then in your Gatsby app, you can paste your gr

[2020-11-25 08:32] #85 closed

[2020-12-17 23:50] HFulcher commented on #75
For those who hit this error and aren't using environment variables handled by netlify but through .env files I have a potential solution.

Spent a lot of time headscratching until I realised that my mailchimp endpoint was only contained in `.env.development` and not in `.env.production` as well. Adding it to that will make sure `gatsby build` runs correctly.

[2021-02-11 19:14] chrish-d commented on #72
I found the Mailchimp Endpoint on this page using the new Mailchimp UI, just FYI in case anyone else is trying to find it:

https://us7.admin.mailchimp.com/lists/integration/embeddedcode

Chances are 'us7' is some URL part that changes between users, so in short from the Mailchimp dashboard you can find the page here:

`Audience tab -> Signup Forms -> Embedded forms`

[2021-03-09 10:01] suggy33 opened #87 "Email Not Triggered"
Hi All,

Has anyone experienced a contact getting added to the audience from that gatsby embed form , but not triggering the email associated with the audience entry?

If so can you please let me know what the setting is. Thanks heaps.

Suggy.

[2021-03-09 10:03] #87 closed

[2021-03-09 10:03] suggy33 commented on #87
In Error. I was doing it incorrectly. please ignore.

[2021-03-18 18:17] skendanavian commented on #76
I'm running into the exact same problem.  The only case that doesn't capitalize the object keys in the NPM package is when it starts with group.

Removing `field.toUpperCase()` on line 63 fixes the issue.  You just need to make sure that your other object keys are All Caps where they need to be.

[2021-04-30 04:03] Quinncuatro commented on #45
Has this been addressed yet? I'm having a similar issue.

Unless this shouldn't work when in development mode?

[2021-05-07 17:44] ignasbol commented on #45
Any update on this? @benjaminhoffman

[2021-05-07 17:47] Quinncuatro commented on #45
@ignasbol - I just decided to not use this package and use a vanilla-ish form.

[code]

[2021-05-07 17:47] benjaminhoffman commented on #45
@ignasbol @Quinncuatro your PRs are welcome for a solution to this problem. ping me here when it's ready and I'll review.  thx.

[2021-05-07 17:48] benjaminhoffman commented on #45
im closing this issue in favor of https://github.com/benjaminhoffman/gatsby-plugin-mailchimp/issues/48

please comment there.

[2021-05-07 17:48] #45 closed

[2021-05-12 11:05] chrish-d opened #92 "Can this be used with Mailchimp's Contact Form / Inbox?"
They give a similar endpoint for their contact forms so I'm wondering if this is possible using this plugin?

[2021-05-12 11:33] chrish-d commented on #92
Thought I'd update this as I'm trying things out.

I tried adding the contact form endpoint in place of the default mailing list endpoint, like this (where `my_user_id` and `contact_form_id` are the proper ids from the endpoint):

[code]

This doesn't work and gives me some errors I'm unsure about:

[code]

and also a "CORB" error (never heard of this):

[code]

[2021-05-12 13:46] chrish-d commented on #92
I tried adding this into the `index.js` file of this plugin to see if `contact-form` needed to be `contact-form-json` the same as `post` does...

[code]

but nah, no joy here either!

[2021-05-24 17:35] fkko commented on #51
Is there any fix for this issue by now?

[2021-08-03 12:35] CaptainHaider commented on #92
did you find any solution?

[2021-09-08 10:52] exposuredesign commented on #83
Did you get any response to this marco? I have a similar problem

[2021-12-21 09:30] cjoejoe1 commented on #63
Hi guys,
Did anybody find a solution to add tags to new contacts by sticking with this plugin (without using the API call)?
Thanks

[2021-12-21 18:08] benjaminhoffman commented on #63
@devism @juliensl @cjoejoe1 this repo is no longer maintained. im updating the README now.  my sincerest apologies -- i wish i had more time to keep it up but im working on other (paid) projects that have taken up all my free time.

[2022-02-04 11:14] JBusani opened #97 "can't locate the addToMailChimp function on import"
I'm importing as in the instructions:

import addToMailChimp from 'gatsby-plugin-mailchimp'

but this error is being highlighted:

Could not find a declaration file for module 'gatsby-plugin-mailchimp'. 'C:/Users/jakeb/CompoundingSense-Website/node_modules/gatsby-plugin-mailchimp/index.js' implicitly has an 'any' type.
  Try `npm i --save-dev @types/gatsby-plugin-mailchimp` if it exists or add a n

[2022-03-10 19:24] aliasmac opened #99 "No error message being received on duplicate signup"
When I call `addToMailchimp` with an email address that's already been added to my list the error message `"xyz has already been subscribed to the the list."` is no longer thrown, instead I get the success message `{result: 'success', msg: 'Thank you for subscribing!'}`.

Has anybody else encountered this?

I also tested with the Mailchimp Marketing api and when I hit the equivalent call with `mai

[2022-03-18 04:43] muntiMedia commented on #42
I'm facing the same issue ,it keep saying https is not defined. Even after  restart and installing npm install gatsby-plugin-mailchimp,  i'm receiving  the same message.

[2022-09-11 08:01] tobinharris commented on #42
I had this issue and it was down to the formatting of my `gatsby-config.js`.

Weirdly, the previous plugin in the file didn't have a comma after a `}`. It was the last `{` in the list but putting the comma in made the the Mailchimp plugin suddenly start seeing the configured `endpoint`.

[2022-09-11 08:02] tobinharris opened #103 "How to set a tag when calling addToMailchimp"
I have an embedded mailchimp form setup as per the instructions. That form has a tag added. However, when I call `addToMailchimp` it does not set the tag. Is there a way to pass the tag in the API call?

[2022-10-03 14:20] LucyMac commented on #92
I was also hoping to use this plugin with a contact form but I'm getting the CORB error. Does anyone have any tips / alternatives to suggest?

Thanks 🙏🏼